@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #050505;
  --purple: #6a00ff;
  --green: #00ff9f;
}

body {
  background: var(--bg);
  color: white;
  font-family: system-ui, sans-serif;
}
